* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #d7d7e7;
}
.nav-link ~ .nav-link {
  margin-left: 50px;
}
.nav-link:hover {
  transition: all ease-in-out 200ms;
  color: #664cb3;
}

.active {
  color: #a07dd5;
}

.header {
  background-color: #020214;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 20px;
}
